---
layout: default
title: NLPLAB
--- 
<style>
	.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
</style>


<!--
<body onload="window.open('/assets/img/islab_recruit.png','공지','width=400px, fullscreen = 1, height=500px, left=가로위치px, top=세로위치px, toolbar=1, status=yes, menubars=0, scrollbars=0, resizable=0, location=0, directories=0');">
-->  
<h1 class="pageTitle">Notice</h1>
  <div class="slider">
	<!--<div><img class = "center" src="assets/img/nlplab_slide4logo-1.PNG"/></div> -->
	<div><img class = "center" src="assets/img/nlplab_slide1-3.PNG"/></div>
	<div><a href = "https://github.com/sgnlplabeling/nlp_labeling" target = "_blank"><img class = "center" src="assets/img/nlplab_slide2-4.PNG"/></a></div>
	<div><img class = "center" src="assets/img/nlplab_slide3-3.PNG"/></div>
  </div>

	
	

<div class="home" id="home">
  
 
  <h1 class="pageTitle">Site Map</h1>
  <ul class="posts noList">
    
    <li>
        <h3><a class="post-link" href="https://nlplab-skku.github.io/AboutUs/Introduction/">About Us</a></h3>
	<p>클릭하시면 저희 연구실에 대한 소개를 보실 수 있습니다.
        <!--<p>소개(Introduction), 사진(Photos), 찾아오시는 길(Contact us)</p>-->
      </li>
    <li>
        <h3><a class="post-link" href="https://nlplab-skku.github.io/Research/Fields/">Research</a></h3>
        <!--<p>분야(Fields), 프로젝트(Projects), Patents(특허)</p>-->
	<p>클릭하시면 저희 연구실에서 연구하는 활동을 보실 수 있습니다.</p>
      </li> 
    <li>
        <h3><a class="post-link" href="https://nlplab-skku.github.io/Publications/JournalPapers/">Publications</a></h3>
        <!--<p>저널 논문(Journal Papers), 학회 논문(Conference Papers),예정 학회들(Upcoming Conferences)</p>-->
	<p>클릭하시면 저희 연구실의 논문을 확인하실 수 있습니다.</p>
      </li>
    <li>
        <h3><a class="post-link" href="https://nlplab-skku.github.io/Members/">Members</a></h3>
        <p>클릭하시면 저희 연구실의 구성원을 확인하실 수 있습니다.</p>
      </li>
    <li>
        <h3><a class="post-link" href="https://github.com/NLPlab-skku">GitHub</a></h3>
        <p>클릭하시면 저희 연구실의 GitHub를 확인하실 수 있습니다.</p>
      </li>
    <!--
    <li>
        <h3><a class="post-link" href="https://islab631.github.io/Boards/notice/">Boards</a></h3>
	<p>클릭하시면 연구실 게시판 페이지로 넘어갑니다.</p>
      </li>
    -->
    <!--
    <li>
        <h3><a class="post-link" href="https://islab631.github.io/Courses/openingcourses/">Courses</a></h3>
	<p>클릭하시면 교수님의 강의를 확인하실 수 있습니다.</p>
      </li>
    <li>
    -->
    <!--
        <h3><a class="post-link" href="https://nlplab-skku.github.io/Software/languageanalysissoftware/">Software</a></h3>
	<p>클릭하시면 저희 연구실 sofrware 소개를 확인하실 수 있습니다.</p>
      </li>
    -->
	{% for post in paginator.Board %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
</div>

</body>
