---
layout: default
title: ISLAB
--- 
   <!--
  <h1 class="pageTitle">Notice</h1>
  <div class="slider">
    <div><img src="/assets/img/recruit1.png"></div>
    <div><img src="/assets/img/recruit2.png"></div>
  </div>
  -->
   <div><img src="/assets/img/label.PNG"></div>

	
	

<div class="home" id="home">
  
 
  <h1 class="pageTitle">Site Map</h1>
  <ul class="posts noList">
    
    <li>
        <h3><a class="post-link" href="https://islab631.github.io/AboutUs/introduction/">About us</a></h3>
        <p>소개(Introduction), 사진(Photos), 찾아오시는 길(Contact us)</p>
      </li>
    <li>
        <h3><a class="post-link" href="https://islab631.github.io/Research/fields/">Research</a></h3>
        <p>분야(Fields), 프로젝트(Projects), Patents(특허)</p>
      </li> 
    <li>
        <h3><a class="post-link" href="https://islab631.github.io/Publications/journalpapers/">Publications</a></h3>
        <p>저널 논문(Journal Papers), 학회 논문(Conference Papers),예정 학회들(Upcoming Conferences)</p>
      </li>
    <li>
        <h3><a class="post-link" href="https://islab631.github.io/members/">Members</a></h3>
        <p>구성원(Members)</p>
      </li>
    <li>
        <h3><a class="post-link" href="https://islab631.github.io/Boards/notice/">Boards</a></h3>
        <p>공지(Notice), 논문(Paper),  링크(Link)</p>
      </li>
    <li>
        <h3><a class="post-link" href="https://islab631.github.io/Courses/openingcourses/">Courses</a></h3>
        <p>현재 강의(Opening Courses), 지난 강의(Closed Courses)</p>
      </li>
    <li>
        <h3><a class="post-link" href="https://islab631.github.io/Software/languageanalysissoftware/">Software</a></h3>
        <p>언어 분석 소프트웨어(Language Analysis Software), 대화시스템(Dialogue System), 빅데이터(Big Data), 기계번역(Neural Machine Translation)</p>
      </li>
	{% for post in paginator.Board %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
	<!--
      <li>
	<h3><a class="post-link" href="https://youngjoongko.github.io/_Board/2014-12-10-temp.markdown">Board</a></h3>
        <p>Introduction, Photos, Contact us</p>
      </li>
	-->
  </ul>
</div>

